body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.wrapper {
  height: 70px;
}

h1 {
  line-height: 70px;
  text-shadow: 10px 10px 4px #000000;
  font-size: 50px;
  display: inline-block;
}

.text--static {
  margin-right: 10px;
}

.text--dynamic {
  position: relative;
}

.text--dynamic::after {
  content: "";
  position: absolute;
  margin-left: 5px;
  width: 2px;
  height: 100%;
  animation: blink 300ms ease infinite;
}

@keyframes blink {
  0%,
  100% {
    background-color: transparent;
  }

  50% {
    background-color: green;
  }
}
